//Created by kcp on 7/1/17.

extends layout

block content
    h1 User Information
    h2 Using Promise
    table
        tr
            th Id
            th Name
            th UserName
            th Email
            th City
            th "Zip Code"
            th Latitude
            th Longitude
            th Website

        for user in users.promiseData
            tr
                td: !{user.id}
                td: !{user.name}
                td: !{user.username}
                td: !{user.email}
                td: !{user.address.city}
                td: !{user.address.zipcode}
                td: !{user.address.geo.lng}
                td: !{user.address.geo.lat}
                td: !{user.website}

    h2 Using Observable
    table
        tr
            th Id
            th Name
            th UserName
            th Email
            th City
            th "Zip Code"
            th Latitude
            th Longitude
            th Website

        for user in users.observableData
            tr
                td: !{user.id}
                td: !{user.name}
                td: !{user.username}
                td: !{user.email}
                td: !{user.address.city}
                td: !{user.address.zipcode}
                td: !{user.address.geo.lng}
                td: !{user.address.geo.lat}
                td: !{user.website}

    h2 Using AsyncAwait
    table
        tr
            th Id
            th Name
            th UserName
            th Email
            th City
            th "Zip Code"
            th Latitude
            th Longitude
            th Website

        for user in users.asyncAwaitData
            tr
                td: !{user.id}
                td: !{user.name}
                td: !{user.username}
                td: !{user.email}
                td: !{user.address.city}
                td: !{user.address.zipcode}
                td: !{user.address.geo.lng}
                td: !{user.address.geo.lat}
                td: !{user.website}


